@import "tailwindcss";
@font-face {
  font-family: "Geometria";
  src: url(/fonts/Geometria-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Geometria";
  src: url(/fonts/Geometria-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Geometria";
  src: url(/fonts/Geometria-Bold.woff2) format("woff2");
  font-weight: 700;
}
:root {
  --prime: #d42e12;
  --bg-card: #fff;
  --bg: #ededed;
  --text: #1d1d1d;
  --bg-breadcrumbs: #fff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  background: var(--bg);
  font-family: "Geometria";
}

.no-srl {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

[data-theme="dark"] {
  --bg-card: #333;
  --bg: #222;
  --text: #fff;
  --bg-breadcrumbs: #000;
}

.scrollPartners {
  animation: partnersAnim 40s infinite linear;
}
@keyframes partnersAnim {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
