@import "tailwindcss";
@font-face {
  font-family: "Geometria";
  src: url(/fonts/Geometria-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Geometria";
  src: url(/fonts/Geometria-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Geometria";
  src: url(/fonts/Geometria-Bold.woff2) format("woff2");
  font-weight: 700;
}
:root {
  --prime: #d42e12;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  background: #222;
  font-family: "Geometria";
}
